// colors

$color-primary-red-dark: hsl(356, 100%, 66%);
$color-primary-red-light: hsl(355, 100%, 74%);

$color-dark-blue: hsl(208, 49%, 24%);

$color-white: #fff;
$color-grayish-blue: hsl(240, 2%, 79%);
$color-dark-grayish-blue: hsl(207, 13%, 34%);
$color-black-blue: hsl(240, 10%, 16%);

// gradient color

$gradient-red-light: hsl(13, 100%, 72%);
$gradient-red-dark: hsl(353, 100%, 62%);

$gradient-blue-dark: hsl(237, 17%, 21%);
$gradient-blue-gray: hsl(237, 23%, 32%);

// fonts

$font-heading: "Ubuntu", sans-serif;
$font-text: "Overpass", sans-serif;

$text-size: 1.6rem;
